body{
    background-color: black;
}

#startup {
    background-color: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}    

.button {
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #A9A9A9;
    color: black;
} 
